.container {
    padding: 3rem 0 0 0;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease-out 0s;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.profile {
    order: 0;
    vertical-align: top;
    flex-shrink: 0;
    margin: 4px 0 0 0;
    width: 200px;
    font: 1rem "Oswald-Regular";
    padding-bottom: 0.5rem;
    color: #777;
}
.profile img {
    display: block;
    border-radius: 1rem;
    width: 100%;
    display: inline-block;
    color: #777;
    font-size: 1.5rem;
    margin: 0 .4rem 0 0;
}
.profile-name {
    font-size: 2rem;
    line-height: 3rem;
    padding: 0.5rem 0 0 0;
    color: #333;
    text-align: center;
}
.profile-signature {
    font-size: 1rem;
    text-align: center;
}
.profile-social {
    position: relative;
    width: 100%;
    text-align: left;
    line-height: 1.7rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: inline-block;
    text-align: center;
}
.profile-social .iconfont{
    display: inline-block;
    color: #777;
    font-size: 2rem;
    margin: 0 .4rem 0 0;
}
.profile-social div {
    font-size: 1.2rem;
    text-align: left;
    font-weight: bold;
}
.friends {
    font-family: inherit;
    font: 1rem "Oswald-Regular";
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    text-align: left;
}
.friends div {
    font-size: 1.2rem;
    text-align: left;
    font-weight: bold;
}
.friends a {
    margin-right: 0.6rem;
}
.article-pages {
    position: relative;
    width: 100%;
    line-height: 1.7rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: inline-block;
    text-align: center;
}
.article-pages div {
    font-size: 1.2rem;
    text-align: left;
    font-weight: bold;
}
.article-pages .iconfont {
    display: inline-block;
    color: #777;
    font-size: 1.5rem;
    margin: .3rem 1rem 0 0;
    position: relative;
}
.about {
    order: 1;
    width: 50%;
    min-width: 42.8125rem;
    flex-grow: 0;
    margin-left: 3rem;
    position: relative;
    padding: 1rem 0rem 1rem 0rem;
    border-bottom: 1px dashed rgba(0,0,0,0.2);
    z-index: 3;
}
.about p {
    line-height: 1.625;
    color: #333;
}