.container {
    padding: 3rem 0 0 0;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease-out 0s;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.profile {
    order: 0;
    vertical-align: top;
    flex-shrink: 0;
    margin: 4px 0 0 0;
    width: 200px;
    font: 1rem "Oswald-Regular";
    padding-bottom: 0.5rem;
    color: #777;
}
.profile img {
    border-radius: 1rem;
    width: 100%;
    color: #777;
    font-size: 1.5rem;
    margin: 0 .4rem 0 0;
}
.profile-name {
    font-size: 2rem;
    line-height: 3rem;
    padding: 0.5rem 0 0 0;
    color: #333;
    text-align: center;
}
.profile-signature {
    font-size: 1rem;
    text-align: center;
}
.profile-social {
    position: relative;
    width: 100%;
    text-align: left;
    line-height: 1.7rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: inline-block;
    text-align: center;
}
.profile-social .iconfont{
    display: inline-block;
    color: #777;
    font-size: 2rem;
    margin: .5rem .5rem 0 0;
}
.profile-social div {
    font-size: 1.2rem;
    text-align: left;
    font-weight: bold;
}
.icon-icon-email:hover {
    color: rgb(20, 89, 112);
}
.icon-GitHub:hover {
    color: black;
}
.profile-social span:hover {
    color: green;
    cursor: pointer;
}
.profile-social span:hover img {
    display: block
}
.profile-qr {
    display: none;
    position: absolute;
    left: 100px;
    bottom: 2.5rem;
    border: 3px solid #fff;
    border-radius: 3px;
    z-index: 99;
    background-color: #fff;
    widows: 7rem;
    transition: all 0.1s ease-in 0s;
}
.profile-qr:hover {
    display: block;
}
.friends {
    font-family: inherit;
    font: 1rem "Oswald-Regular";
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.friends a {
    margin-right: 0.6rem;
    color: #777;
    font-weight: bold;
    font-size: 1.8rem;
}
.friends a:hover {
    color: pink;
}
.article-pages {
    position: relative;
    width: 100%;
    line-height: 1.7rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: inline-block;
    text-align: center;
}
.article-pages div {
    font-size: 1.2rem;
    text-align: left;
    font-weight: bold;
}
.article-pages .iconfont {
    display: inline-block;
    color: #777;
    font-size: 1.5rem;
    margin: .3rem 1rem 0 0;
    position: relative;
}
.icon-write:hover {
    color:#431049;
}
.icon-code:hover {
    color:#111111;
}
.about {
    order: 1;
    width: 40%;
    min-width: 37.5rem;
    flex-grow: 0;
    margin-left: 4rem;
    position: relative;
    padding: 1rem 0rem 1rem 0rem;
    border-bottom: 1px dashed rgba(0,0,0,0.2);
    z-index: 3;
}
.about-title {
    font-family: "Oswald-Regular";
    font-size: 1.7rem;
    color: #787878;
}
.about-time {
    font-family: "Oswald-Regular";
    color: #aaa;
    float: right;
}
.about p {
    line-height: 1.625;
    color: #333;
}
.about-time img {
    position: relative;
    width: 18px;
    height: 18px;
}