.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.5rem;
    overflow: hidden;
    z-index: 10;
    transform: translate3d(0,0,0);
    transition: all .3s ease-in 0s;
}
.header-sidebar-button {
    position: absolute;
    left: 1rem;
    top: 50%;
    border: 2px solid #fff;
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(0,-50%);
    font-family: iconfont-archer;
    color: #fff;
    text-align: center;
    line-height: 1.5rem;
    z-index: 21;
    cursor: pointer;
}
.header-sidebar-button:hover {
    background-color: #fff;
    color: #000;
    transform: translate(0,-50%);
}