<!DOCTYPE html>
<html class="regular">
<head>
    <title>L17</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./pic/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/header.css"/>
    <link rel="stylesheet" href="css/site-intro.css"/>
    <link rel="stylesheet" href="css/sidebar.css"/>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/container.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1351065_ffwcisley7r.css">
    <style>
        a {
            text-decoration: none;
            background-color: transparent;
        }
    </style>
</head>
<body style="margin: 0%; overflow-x: hidden;">
    <div id="app">
        <div class="sidebar" v-bind:style="{left: sidebarState ? '0' : '-300px'}">
            <div class="sidebar-title">Friends</div>
            <div class="sidebar-friend">
                <a v-for="(item, index) in friendLinks" 
                    v-bind:href="item.link"
                    v-bind:key="`friendsLinks-${index}`"> {{ item.title }}
                </a>
            </div>
        </div>
        <div class="header" v-bind:style="{left: sidebarState ? '300px' : '0'}">
            <div class="header-sidebar-button" @click="sidebarChange">
                <span class="iconfont icon-fanhui" style="font-size: 14px; font-weight: bold;"></span>
            </div>
        </div>
        <div class="site-intro" v-bind:style="{left: sidebarState ? '300px' : '0'}">
            <div class="site-intro-img" style="background-image:url(./pic/index-bg.jpg)"></div>
            <div class="site-intro-meta">
                <h1 class="intro-title intro-fade-in">{{ title }}</h1>
                <p class="intro-subtitle intro-fade-in">{{ subtitle }}</p>
            </div>
        </div>
        <div class="container" v-bind:style="{left: sidebarState ? '300px' : '0'}">
            <div class="profile">
                <img v-bind:src="profileImg">
                <div class="profile-name">{{ name }}</div>
                <div class="profile-signature">{{ signature }}</div>
                <div class="profile-social">
                    <a href="1135595767@qq.com" class="iconfont icon-icon-email" title="email"></a>
                    <a href="https://github.com/lsq210" class="iconfont icon-GitHub" title="github"></a>
                    <span class="iconfont icon-weixin" title="wechat">
                        <img class="profile-qr" src="pic/wx.png">
                    </span>
                </div>
                <div class="article-pages">
                    <a v-for="(item, index) in articleLinks" 
                        class="iconfont"
                        v-bind:class="item.className"
                        v-bind:href="item.link"
                        v-bind:title="item.title"
                        v-bind:key="`articleLinks-${index}`">
                    </a>
                </div>
                <div class="friends" v-if="false">
                    
                </div>
            </div>
            <div class="about">
                <div class="about-title">{{ aboutMeta.title }}</div>
                <p>今年大三<br>已取得机动车驾驶证🚗</p>
                <p>喜欢 打球🏸 做手账📝 看辩论赛💬<br>喜欢 李健/权游/HP/男人帮<br>超级不喜欢 做噩梦🙃</p>
                <p>没有什么事<br>正在愉快地长胖着</p>
                <p>欢迎交个朋友(╹ڡ╹ )</p>
                <p>最后一个小小的flag🚩<br>希望自己可以常来这里~</p>
                <div class="about-time">
                    <img src="pic/calendar.png">  {{ aboutMeta.date }}</span>
                </div>
            </div>
        </div>
        <div class="footer" v-bind:style="{left: sidebarState ? '300px' : '0'}">
            <div class="copyright">
                <span>
                    Powered by <a href="https://hexo.io/">Hexo</a> ∞ Inspired by <a href="https://github.com/fi3ework/hexo-theme-archer">Archer</a>
                </span>
            </div>
        </div>
    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            title: "Love Will Keep Us Alive",
            subtitle: '',
            sidebarState: false,
            name: '17',
            signature: 'not today',
            profileImg: './pic/Arya.jpg',
            socialLinks: [
                {
                    link: '1135595767@qq.com',
                    className: 'icon-icon-email',
                    title: 'email'
                },
                {
                    link: 'https://github.com/lsq210',
                    className: 'icon-GitHub',
                    title: 'github'
                },
            ],
            articleLinks: [
                {
                    link: 'https://lsq210.github.io/life',
                    className: 'icon-write',
                    title: 'life'
                },
                {
                    link: 'https://lsq210.github.io/code',
                    className: 'icon-code',
                    title: 'code'
                }
            ],
            friendLinks: [
                {
                    link: 'https://home.cs-tao.cc/blog/',
                    title: 'CS-Tao'
                },
                {
                    link: 'https://yueyy.github.io/',
                    title: 'Yue'
                },
                {
                    link: 'https://hkvision.cn/',
                    title: 'HaoKunT'
                },
                {
                    link: 'https://hpdell.github.io/',
                    title: 'HPdell'
                },
                {
                    link: 'https://hanwgeek.github.io/',
                    title: 'Wang Han'
                }
            ],
            aboutMeta: {
                title: 'ABOUT ME',
                date: '2019/08/15',
            }
        },
        methods: {
            sidebarChange: function () {
                if(this.sidebarState) {
                    this.sidebarState = false
                } else {
                    this.sidebarState = true
                }
            }
        },
    })
</script>
</html>